# Data Exploration

In [ ]:
#yang pertama kita lakukan adalah membaca file csv 
#lalu kita tampilkan 5 record teratas menggunakaan fungsi head

In [2]:
import pandas as pd
df = pd.read_csv('order_brush_order.csv')
df.head()

          orderid     shopid     userid           event_time
0  31076582227611   93950878   30530270  2019-12-27 00:23:03
1  31118059853484  156423439   46057927  2019-12-27 11:54:20
2  31123355095755  173699291   67341739  2019-12-27 13:22:35
3  31122059872723   63674025  149380322  2019-12-27 13:01:00
4  31117075665123  127249066  149493217  2019-12-27 11:37:55

In [ ]:
#setelah itu kita cari berapa jumlah shopid secara keseluruhan , ternyata jumlah kolom shopid adalah 18870

In [3]:
df.groupby('shopid').size().describe()

count    18770.000000
mean        11.867342
std        104.244723
min          1.000000
25%          1.000000
50%          2.000000
75%          8.000000
max      11703.000000
dtype: float64

In [ ]:
#selanjutnya kita liat shop (toko) mana yang ordernya paling tinggi

In [4]:
df.groupby('shopid')['orderid'].count().sort_values(ascending=False).head(10)

shopid
147941492    11703
61556313      6691
54615708      2640
91799978       707
57189823       687
107921853      684
25924280       655
89768730       607
43412276       529
32504026       516
Name: orderid, dtype: int64

# Data Analysis

In [ ]:
#Temukan semua shops dan shops id yang memiliki lebih dari 3 order

In [8]:
unique_shopid = df['shopid'].unique()
print(f'{len(unique_shopid )} shops unique')

shopid_lebihdari3_df = pd.DataFrame(df.groupby('shopid').size()[df.groupby('shopid').size() >= 3]).to_dict()
shopid_lebihdari3_df = shopid_lebihdari3_df[0].keys()
print(f'{len(shopid_lebihdari3_df)} shop lebih dari 3 orders')

18770 shops unique
9031 shop lebih dari 3 orders

In [ ]:
#membuat timestamp

In [9]:
df['event_time'] = pd.to_datetime(df['event_time'])
df['ts'] = df[['event_time']].apply(lambda x: x[0].timestamp(), axis=1).astype(int)
df.head()

          orderid     shopid     userid          event_time          ts
0  31076582227611   93950878   30530270 2019-12-27 00:23:03  1577406183
1  31118059853484  156423439   46057927 2019-12-27 11:54:20  1577447660
2  31123355095755  173699291   67341739 2019-12-27 13:22:35  1577452955
3  31122059872723   63674025  149380322 2019-12-27 13:01:00  1577451660
4  31117075665123  127249066  149493217 2019-12-27 11:37:55  1577446675

In [ ]:
#urutkan orders berdasarkan event time

In [10]:
df = df.sort_values(by='ts', ascending=True)
df

               orderid     shopid     userid          event_time          ts
150060  31075200506751    6042309   97707522 2019-12-27 00:00:00  1577404800
25985   31075200506752  104804492   97707522 2019-12-27 00:00:00  1577404800
81020   31075200506753    8715449   97707522 2019-12-27 00:00:00  1577404800
146598  31075201870570  190969466  170182475 2019-12-27 00:00:02  1577404802
80355   31075205798264    2859407   12532131 2019-12-27 00:00:05  1577404805
...                ...        ...        ...                 ...         ...
114113  31507183252446  149254894  193333760 2019-12-31 23:59:43  1577836783
206585  31507187390691  147941492   40258063 2019-12-31 23:59:47  1577836787
126212  31507191066628  187123853    2338306 2019-12-31 23:59:51  1577836791
160657  31507191066627  154074176    2338306 2019-12-31 23:59:51  1577836791
179881  31507196146800   31844790   95161930 2019-12-31 23:59:56  1577836796

[222750 rows x 5 columns]

In [ ]:
#Mulai untuk mendeteksi brushing orders 

Variable definition: 
    1. previous_order : Order terdekat sebelum time interval.
    2. previous_order_time : Event time dari previous_order.
    3. start_order : Order pertama interval waktu ini.
    4. start_order_time : Event time dari start_order.
    5. end_order :  Order terakhir interval waktu ini.
    6. end_order_time: Event time dari end_order.
    7. next_order : Order terdekat setelah time interval.
    8. next_order_time: Event time dari next_order.
        
Kita akan menemukan time interval dengan 2 kondisi berikut :
    1. start_order_time dan end_order_time dalam waktu 1 jam.
    2. next_order_time - previous_order_time > 1 jam.

In [15]:
from datetime import datetime
import time 

count = 0
ans_dict = dict()

#lakukan pengulangan berdasarkan banyaknya shopid yang memiliki order > 3
for shop_id in shopid_lebihdari3_df : 

    time_record = time.time()
    cheat = 0
    
    #record the cheating row index in shop_df
    cheat_order_list = set()
    
    shop_df = df[df['shopid'] == shop_id]
    len_shop_data = len(shop_df)
    
    #tetapkan variabel previous_order_time yang merupakan 1 jam lebih awal dari start_order_time,di sini kami menetapkan 9999 detik yang lebih besar dari 3600 detik (alias 1 jam)
    previous_order_time = shop_df.iloc[0]['ts'] - 9999
    
    #Kami tidak perlu memeriksa 2 pesanan terakhir karena perlu lebih dari 3 pesanan agar sesuai dengan kondisi order brushing
    
    for start_order in range(len_shop_data - 2): 
        start_order_time = shop_df.iloc[start_order]['ts']
        
        # Sama seperti alasan diatas, end_order dimulai dari start_order + 2
        for end_order in range(start_order + 2, len_shop_data): 
            
            # start_order_time dan end_order_time perlu dalam 1 jam
            end_order_time = shop_df.iloc[end_order]['ts']
            if end_order_time > start_order_time + 3600:
                break
                
            # Temukan event time dari next_order
            # Kondisi edge dimana end_order adalah order terakhir dari toko ini
            
            if end_order == len_shop_data -1:
                # mirip dengan yang kami lakukan untuk previous_order_time
                next_order_time = shop_df.iloc[end_order]['ts'] + 9999 
            else:
                 next_order_time = shop_df.iloc[end_order + 1]['ts']
                    
                     # check whether next_order_time - previous_order_time > 1 hour
            if next_order_time > previous_order_time + 3601:
                # we can not divide orders which have same timestamp into different time interval
                if next_order_time == end_order_time: 
                    continue

                tmp_df = shop_df.iloc[start_order: end_order + 1]
                order_num = tmp_df.orderid.nunique()
                user_num = tmp_df.userid.nunique()

                # check whether order brushing
                if order_num / user_num >= 3:
                    cheat = 1
                    cheat_order_list.update(list(range(start_order, end_order + 1)))
        # refresh the previous order time
        previous_order_time = start_order_time 
        
    count += 1 

    if cheat == 1:
        # find the brushing user
        tmp_df = shop_df.iloc[list(cheat_order_list)]
        tmp_dict = tmp_df.groupby('userid').size().to_dict()
        max_time = max(list(tmp_dict.values()))
        
        ans_dict[shop_id] = []
        for user in tmp_dict:
            if tmp_dict[user] == max_time:
                ans_dict[shop_id].append(user)
                        
        print(f'{count:4d}, shop {shop_id} used {time.time() - time_record:4.2f} sec(s), cheat!!!')

   8, shop 10159 used 0.05 sec(s), cheat!!!
  27, shop 10402 used 0.00 sec(s), cheat!!!
  37, shop 10536 used 0.01 sec(s), cheat!!!
  67, shop 42472 used 0.01 sec(s), cheat!!!
  69, shop 42818 used 0.04 sec(s), cheat!!!
  77, shop 76934 used 0.00 sec(s), cheat!!!
 101, shop 195531 used 0.01 sec(s), cheat!!!
 136, shop 425364 used 0.00 sec(s), cheat!!!
 148, shop 599533 used 0.01 sec(s), cheat!!!
 149, shop 605561 used 0.01 sec(s), cheat!!!
 167, shop 722132 used 0.03 sec(s), cheat!!!
 169, shop 731606 used 0.00 sec(s), cheat!!!
 170, shop 736620 used 0.01 sec(s), cheat!!!
 178, shop 769445 used 0.05 sec(s), cheat!!!
 186, shop 823357 used 0.01 sec(s), cheat!!!
 226, shop 1175477 used 0.06 sec(s), cheat!!!
 241, shop 1532569 used 0.00 sec(s), cheat!!!
 292, shop 2831130 used 0.02 sec(s), cheat!!!
 293, shop 2856708 used 0.03 sec(s), cheat!!!
 309, shop 3124091 used 0.00 sec(s), cheat!!!
 332, shop 3701311 used 0.01 sec(s), cheat!!!
 348, shop 4149345 used 0.06 sec(s), cheat!!!
 377, shop 4888564 used 0.00 sec(s), cheat!!!
 429, shop 6765647 used 0.02 sec(s), cheat!!!
 508, shop 8566282 used 0.01 sec(s), cheat!!!
 514, shop 8715449 used 0.11 sec(s), cheat!!!
 533, shop 8996761 used 0.02 sec(s), cheat!!!
 543, shop 9153340 used 0.05 sec(s), cheat!!!
 553, shop 9372692 used 0.02 sec(s), cheat!!!
 554, shop 9374147 used 0.51 sec(s), cheat!!!
 560, shop 9466594 used 0.02 sec(s), cheat!!!
 571, shop 9676950 used 0.06 sec(s), cheat!!!
 610, shop 10199219 used 0.00 sec(s), cheat!!!
 613, shop 10206302 used 0.02 sec(s), cheat!!!
 629, shop 10498480 used 0.01 sec(s), cheat!!!
 669, shop 11342466 used 0.02 sec(s), cheat!!!
 676, shop 11474437 used 0.01 sec(s), cheat!!!
 680, shop 11612863 used 0.01 sec(s), cheat!!!
 688, shop 11809607 used 0.02 sec(s), cheat!!!
 689, shop 11849988 used 0.01 sec(s), cheat!!!
 692, shop 11896733 used 0.11 sec(s), cheat!!!
 699, shop 12078788 used 0.06 sec(s), cheat!!!
 723, shop 12537642 used 0.02 sec(s), cheat!!!
 784, shop 13735592 used 0.01 sec(s), cheat!!!
 803, shop 14184981 used 0.00 sec(s), cheat!!!
 814, shop 14598427 used 0.03 sec(s), cheat!!!
 816, shop 14646941 used 0.02 sec(s), cheat!!!
 859, shop 15920950 used 0.00 sec(s), cheat!!!
 865, shop 16001939 used 0.04 sec(s), cheat!!!
 879, shop 16246487 used 0.01 sec(s), cheat!!!
 896, shop 16613121 used 0.36 sec(s), cheat!!!
 905, shop 16680589 used 0.00 sec(s), cheat!!!
 910, shop 16732896 used 0.01 sec(s), cheat!!!
 914, shop 17011899 used 0.01 sec(s), cheat!!!
 923, shop 17212658 used 0.00 sec(s), cheat!!!
 924, shop 17219984 used 0.00 sec(s), cheat!!!
 962, shop 18190345 used 0.16 sec(s), cheat!!!
 963, shop 18229789 used 0.02 sec(s), cheat!!!
1011, shop 19052728 used 0.01 sec(s), cheat!!!
1081, shop 20522747 used 0.00 sec(s), cheat!!!
1151, shop 22800308 used 0.07 sec(s), cheat!!!
1287, shop 27015534 used 0.05 sec(s), cheat!!!
1293, shop 27121667 used 0.04 sec(s), cheat!!!
1306, shop 27476241 used 0.06 sec(s), cheat!!!
1318, shop 27987240 used 0.03 sec(s), cheat!!!
1337, shop 28091290 used 0.04 sec(s), cheat!!!
1345, shop 28164269 used 0.01 sec(s), cheat!!!
1367, shop 28773787 used 0.00 sec(s), cheat!!!
1376, shop 28812867 used 0.01 sec(s), cheat!!!
1392, shop 29238238 used 0.02 sec(s), cheat!!!
1404, shop 29650418 used 0.01 sec(s), cheat!!!
1417, shop 29979455 used 0.03 sec(s), cheat!!!
1445, shop 30740877 used 0.01 sec(s), cheat!!!
1470, shop 31614331 used 0.00 sec(s), cheat!!!
1499, shop 32729279 used 0.01 sec(s), cheat!!!
1576, shop 34923033 used 0.01 sec(s), cheat!!!
1595, shop 35590237 used 0.01 sec(s), cheat!!!
1622, shop 36641013 used 0.02 sec(s), cheat!!!
1707, shop 40262957 used 0.01 sec(s), cheat!!!
1750, shop 41056024 used 0.01 sec(s), cheat!!!
1756, shop 41246368 used 0.01 sec(s), cheat!!!
1813, shop 43412276 used 1.07 sec(s), cheat!!!
1826, shop 43596797 used 0.01 sec(s), cheat!!!
1870, shop 45084184 used 0.01 sec(s), cheat!!!
1977, shop 48961570 used 0.01 sec(s), cheat!!!
1979, shop 48970010 used 0.00 sec(s), cheat!!!
2022, shop 50682734 used 0.00 sec(s), cheat!!!
2024, shop 50713918 used 0.07 sec(s), cheat!!!
2074, shop 51134277 used 0.06 sec(s), cheat!!!
2076, shop 51487211 used 0.04 sec(s), cheat!!!
2113, shop 52377417 used 0.12 sec(s), cheat!!!
2166, shop 54054704 used 0.09 sec(s), cheat!!!
2169, shop 54257623 used 0.02 sec(s), cheat!!!
2172, shop 54415227 used 0.01 sec(s), cheat!!!
2179, shop 54593828 used 0.02 sec(s), cheat!!!
2247, shop 58543771 used 0.02 sec(s), cheat!!!
2274, shop 58722428 used 0.00 sec(s), cheat!!!
2279, shop 58835561 used 0.01 sec(s), cheat!!!
2281, shop 58853808 used 0.02 sec(s), cheat!!!
2300, shop 59617008 used 0.01 sec(s), cheat!!!
2349, shop 60587222 used 0.01 sec(s), cheat!!!
2448, shop 63001696 used 0.02 sec(s), cheat!!!
2449, shop 63001745 used 0.00 sec(s), cheat!!!
2507, shop 63888299 used 0.02 sec(s), cheat!!!
2551, shop 64369518 used 0.00 sec(s), cheat!!!
2569, shop 64394533 used 0.03 sec(s), cheat!!!
2608, shop 65453156 used 0.01 sec(s), cheat!!!
2637, shop 66232769 used 0.00 sec(s), cheat!!!
2641, shop 66337054 used 0.11 sec(s), cheat!!!
2649, shop 66391375 used 0.01 sec(s), cheat!!!
2685, shop 66861410 used 0.10 sec(s), cheat!!!
2726, shop 68478964 used 0.03 sec(s), cheat!!!
2733, shop 68609828 used 0.02 sec(s), cheat!!!
2755, shop 68862371 used 0.04 sec(s), cheat!!!
2765, shop 68986766 used 0.02 sec(s), cheat!!!
2809, shop 70009992 used 0.01 sec(s), cheat!!!
2848, shop 71007731 used 0.00 sec(s), cheat!!!
2860, shop 71168001 used 0.01 sec(s), cheat!!!
2906, shop 73103155 used 0.01 sec(s), cheat!!!
2929, shop 73690472 used 0.00 sec(s), cheat!!!
2977, shop 75326165 used 0.01 sec(s), cheat!!!
2992, shop 75622223 used 0.07 sec(s), cheat!!!
3046, shop 76668593 used 0.10 sec(s), cheat!!!
3128, shop 78837196 used 0.00 sec(s), cheat!!!
3186, shop 80049863 used 0.00 sec(s), cheat!!!
3212, shop 80890996 used 0.01 sec(s), cheat!!!
3226, shop 81087553 used 0.04 sec(s), cheat!!!
3241, shop 81190174 used 0.01 sec(s), cheat!!!
3320, shop 83234229 used 0.00 sec(s), cheat!!!
3324, shop 83366265 used 0.01 sec(s), cheat!!!
3336, shop 83440756 used 0.00 sec(s), cheat!!!
3422, shop 84866704 used 0.05 sec(s), cheat!!!
3450, shop 85648725 used 0.03 sec(s), cheat!!!
3467, shop 86285837 used 0.08 sec(s), cheat!!!
3468, shop 86368642 used 0.01 sec(s), cheat!!!
3501, shop 86822226 used 0.03 sec(s), cheat!!!
3520, shop 87063118 used 0.01 sec(s), cheat!!!
3541, shop 87621695 used 0.04 sec(s), cheat!!!
3542, shop 87657406 used 0.01 sec(s), cheat!!!
3553, shop 87845635 used 0.01 sec(s), cheat!!!
3614, shop 89126206 used 0.00 sec(s), cheat!!!
3704, shop 91123657 used 0.02 sec(s), cheat!!!
3724, shop 91638688 used 0.01 sec(s), cheat!!!
3784, shop 93295101 used 0.08 sec(s), cheat!!!
3786, shop 93358941 used 0.03 sec(s), cheat!!!
3819, shop 94154189 used 0.00 sec(s), cheat!!!
3841, shop 95139064 used 0.01 sec(s), cheat!!!
3860, shop 95458810 used 0.11 sec(s), cheat!!!
3893, shop 96460204 used 0.00 sec(s), cheat!!!
3899, shop 96555082 used 0.01 sec(s), cheat!!!
3936, shop 96757644 used 0.04 sec(s), cheat!!!
3938, shop 96757706 used 0.07 sec(s), cheat!!!
3958, shop 97167904 used 0.01 sec(s), cheat!!!
3995, shop 98481320 used 0.01 sec(s), cheat!!!
4029, shop 98768262 used 0.03 sec(s), cheat!!!
4034, shop 98793086 used 0.00 sec(s), cheat!!!
4044, shop 99067259 used 0.01 sec(s), cheat!!!
4070, shop 99836251 used 0.02 sec(s), cheat!!!
4086, shop 100446829 used 0.00 sec(s), cheat!!!
4178, shop 103715156 used 0.00 sec(s), cheat!!!
4189, shop 104245736 used 0.01 sec(s), cheat!!!
4193, shop 104278513 used 0.01 sec(s), cheat!!!
4198, shop 104457555 used 0.01 sec(s), cheat!!!
4209, shop 104590058 used 0.07 sec(s), cheat!!!
4212, shop 104590579 used 0.00 sec(s), cheat!!!
4253, shop 104955370 used 0.00 sec(s), cheat!!!
4257, shop 105064701 used 0.01 sec(s), cheat!!!
4289, shop 106051591 used 0.00 sec(s), cheat!!!
4291, shop 106390103 used 0.00 sec(s), cheat!!!
4332, shop 107189025 used 0.04 sec(s), cheat!!!
4356, shop 108064389 used 0.01 sec(s), cheat!!!
4365, shop 108120403 used 0.00 sec(s), cheat!!!
4369, shop 108170744 used 0.01 sec(s), cheat!!!
4379, shop 109628767 used 0.01 sec(s), cheat!!!
4425, shop 110641390 used 0.02 sec(s), cheat!!!
4446, shop 110871170 used 0.07 sec(s), cheat!!!

4552, shop 114016125 used 0.00 sec(s), cheat!!!
4579, shop 114919380 used 0.23 sec(s), cheat!!!
4593, shop 115179739 used 0.12 sec(s), cheat!!!
4600, shop 115506347 used 0.03 sec(s), cheat!!!
4659, shop 116337057 used 0.01 sec(s), cheat!!!
4672, shop 116348362 used 0.02 sec(s), cheat!!!
4721, shop 117079735 used 0.01 sec(s), cheat!!!
4749, shop 118139770 used 0.01 sec(s), cheat!!!
4784, shop 118949192 used 0.01 sec(s), cheat!!!
4812, shop 119309887 used 0.01 sec(s), cheat!!!
4837, shop 119362482 used 0.04 sec(s), cheat!!!
4863, shop 119595148 used 0.01 sec(s), cheat!!!
4873, shop 119690532 used 0.01 sec(s), cheat!!!
4886, shop 120358496 used 0.05 sec(s), cheat!!!
4895, shop 120692254 used 0.01 sec(s), cheat!!!
4972, shop 122238789 used 0.00 sec(s), cheat!!!
4982, shop 122459518 used 0.02 sec(s), cheat!!!
5003, shop 123401085 used 0.00 sec(s), cheat!!!
5007, shop 123548863 used 0.01 sec(s), cheat!!!
5047, shop 126261266 used 0.01 sec(s), cheat!!!
5059, shop 126587078 used 0.01 sec(s), cheat!!!
5063, shop 126599655 used 0.00 sec(s), cheat!!!
5073, shop 126639670 used 0.30 sec(s), cheat!!!
5147, shop 128299931 used 0.01 sec(s), cheat!!!
5149, shop 128300567 used 0.01 sec(s), cheat!!!
5164, shop 129113839 used 0.00 sec(s), cheat!!!
5178, shop 129460270 used 0.01 sec(s), cheat!!!
5260, shop 130098983 used 0.01 sec(s), cheat!!!
5274, shop 130100254 used 0.01 sec(s), cheat!!!
5310, shop 130118966 used 0.01 sec(s), cheat!!!
5316, shop 130168935 used 0.02 sec(s), cheat!!!
5325, shop 130665582 used 0.01 sec(s), cheat!!!
5360, shop 131387639 used 0.02 sec(s), cheat!!!
5381, shop 131670390 used 0.01 sec(s), cheat!!!
5425, shop 132583615 used 0.00 sec(s), cheat!!!
5445, shop 132834615 used 0.05 sec(s), cheat!!!
5458, shop 132964122 used 0.02 sec(s), cheat!!!
5476, shop 133255677 used 0.01 sec(s), cheat!!!
5548, shop 134418456 used 0.00 sec(s), cheat!!!
5563, shop 134968430 used 0.02 sec(s), cheat!!!
5718, shop 135644492 used 0.00 sec(s), cheat!!!
5738, shop 136564914 used 0.06 sec(s), cheat!!!
5767, shop 137762841 used 0.01 sec(s), cheat!!!
5785, shop 138810304 used 0.02 sec(s), cheat!!!
5821, shop 139383672 used 0.01 sec(s), cheat!!!
5839, shop 139743785 used 0.00 sec(s), cheat!!!
5914, shop 140626153 used 0.01 sec(s), cheat!!!
5951, shop 141025402 used 0.01 sec(s), cheat!!!
5999, shop 141828266 used 0.00 sec(s), cheat!!!
6044, shop 143281052 used 0.14 sec(s), cheat!!!
6061, shop 143613660 used 0.00 sec(s), cheat!!!
6085, shop 143899665 used 0.01 sec(s), cheat!!!
6089, shop 144365607 used 0.00 sec(s), cheat!!!
6134, shop 145777302 used 0.04 sec(s), cheat!!!
6145, shop 145986052 used 0.00 sec(s), cheat!!!
6220, shop 148856653 used 0.00 sec(s), cheat!!!
6222, shop 148917764 used 0.05 sec(s), cheat!!!
6247, shop 149725779 used 0.01 sec(s), cheat!!!
6286, shop 150526730 used 0.01 sec(s), cheat!!!
6312, shop 151556698 used 0.02 sec(s), cheat!!!
6332, shop 152234237 used 0.00 sec(s), cheat!!!
6365, shop 152911522 used 0.00 sec(s), cheat!!!
6388, shop 153335627 used 0.00 sec(s), cheat!!!
6391, shop 153444897 used 0.00 sec(s), cheat!!!
6400, shop 153672697 used 0.00 sec(s), cheat!!!
6441, shop 154843675 used 0.00 sec(s), cheat!!!
6453, shop 155016230 used 0.00 sec(s), cheat!!!
6469, shop 155143347 used 0.02 sec(s), cheat!!!
6527, shop 156246169 used 0.01 sec(s), cheat!!!
6528, shop 156248768 used 0.06 sec(s), cheat!!!
6562, shop 156883302 used 0.30 sec(s), cheat!!!
6568, shop 156995951 used 0.00 sec(s), cheat!!!
6581, shop 157633413 used 0.01 sec(s), cheat!!!
6584, shop 157830762 used 0.01 sec(s), cheat!!!
6594, shop 157939195 used 0.00 sec(s), cheat!!!
6691, shop 160135616 used 0.02 sec(s), cheat!!!
6750, shop 161160594 used 0.00 sec(s), cheat!!!
6763, shop 161196859 used 0.00 sec(s), cheat!!!
6772, shop 161277691 used 0.01 sec(s), cheat!!!
6835, shop 162043213 used 0.01 sec(s), cheat!!!
6864, shop 162282525 used 0.00 sec(s), cheat!!!
6868, shop 162292584 used 0.01 sec(s), cheat!!!
6926, shop 163014475 used 0.05 sec(s), cheat!!!
6986, shop 163351089 used 0.00 sec(s), cheat!!!
7051, shop 163968828 used 0.00 sec(s), cheat!!!
7131, shop 165020094 used 0.01 sec(s), cheat!!!
7170, shop 165500538 used 0.00 sec(s), cheat!!!
7218, shop 167068287 used 0.03 sec(s), cheat!!!
7242, shop 168046193 used 0.01 sec(s), cheat!!!
7257, shop 168388504 used 0.01 sec(s), cheat!!!
7271, shop 168750844 used 0.00 sec(s), cheat!!!
7334, shop 169902791 used 0.01 sec(s), cheat!!!
7397, shop 171407673 used 0.01 sec(s), cheat!!!
7460, shop 172406176 used 0.01 sec(s), cheat!!!
7464, shop 172439621 used 0.01 sec(s), cheat!!!
7485, shop 173186657 used 0.01 sec(s), cheat!!!
7504, shop 173318671 used 0.00 sec(s), cheat!!!
7522, shop 173454640 used 0.00 sec(s), cheat!!!
7549, shop 173478708 used 0.02 sec(s), cheat!!!
7561, shop 173508019 used 0.01 sec(s), cheat!!!
7641, shop 175531295 used 0.01 sec(s), cheat!!!
7677, shop 176338861 used 0.01 sec(s), cheat!!!
7697, shop 177817260 used 0.01 sec(s), cheat!!!
7715, shop 178273138 used 0.03 sec(s), cheat!!!
7783, shop 180676972 used 0.01 sec(s), cheat!!!
7808, shop 181009364 used 0.01 sec(s), cheat!!!
7820, shop 181744029 used 0.01 sec(s), cheat!!!
7878, shop 182541768 used 0.01 sec(s), cheat!!!
7884, shop 182630287 used 0.00 sec(s), cheat!!!
7897, shop 182853378 used 0.01 sec(s), cheat!!!
8041, shop 186369695 used 0.00 sec(s), cheat!!!
8115, shop 187342268 used 0.01 sec(s), cheat!!!
8132, shop 187570150 used 0.02 sec(s), cheat!!!
8150, shop 188323737 used 0.01 sec(s), cheat!!!
8162, shop 188546697 used 0.01 sec(s), cheat!!!
8180, shop 189031483 used 0.01 sec(s), cheat!!!
8190, shop 189308408 used 0.05 sec(s), cheat!!!
8198, shop 189544563 used 0.00 sec(s), cheat!!!
8292, shop 191285578 used 0.00 sec(s), cheat!!!
8309, shop 191449441 used 0.01 sec(s), cheat!!!
8317, shop 191674006 used 0.01 sec(s), cheat!!!
8337, shop 192608876 used 0.01 sec(s), cheat!!!
8343, shop 192785588 used 0.35 sec(s), cheat!!!
8346, shop 192919438 used 0.00 sec(s), cheat!!!
8393, shop 193424291 used 0.01 sec(s), cheat!!!
8535, shop 195870375 used 0.00 sec(s), cheat!!!
8559, shop 198172755 used 0.00 sec(s), cheat!!!
8613, shop 199314784 used 0.01 sec(s), cheat!!!
8693, shop 201185983 used 0.01 sec(s), cheat!!!
8705, shop 201428849 used 0.00 sec(s), cheat!!!
8707, shop 201503467 used 0.01 sec(s), cheat!!!
8723, shop 201557550 used 0.00 sec(s), cheat!!!
8757, shop 203070501 used 0.00 sec(s), cheat!!!
8780, shop 203440274 used 0.00 sec(s), cheat!!!
8788, shop 203531250 used 0.00 sec(s), cheat!!!
8909, shop 204225676 used 0.01 sec(s), cheat!!!
8949, shop 208696908 used 0.00 sec(s), cheat!!!
9005, shop 210197928 used 0.00 sec(s), cheat!!!
9023, shop 213141071 used 0.00 sec(s), cheat!!!

In [16]:
# count how many shop is brushing (tips: the true num is 315 shops)
len(ans_dict)

315

In [17]:
ans_shop = []
ans_user = []
for shop in ans_dict.keys():
    if len(ans_dict[shop]) > 1:
        user_cheat = set(ans_dict[shop])
        user_cheat = sorted(list(user_cheat), reverse=False)
        ans_user.append("&".join([str(i) for i in user_cheat]))
    else:
        ans_user.append(str(ans_dict[shop][0]))
    ans_shop.append(shop)

for shop in unique_shopid:
    if shop not in ans_dict.keys():
        ans_shop.append(shop)
        ans_user.append("0")

print(len(ans_shop))
print(len(ans_user))

df_ans = pd.DataFrame({'shopid': ans_shop, 'userid': ans_user})
df_ans.to_csv('prediction.csv',index=False)

18770
18770